<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
    <style>
        body {
            background-color: #3498db; /* Blue color */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        
        <!-- Error message block -->
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        
        <!-- Login form -->
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <button type="submit">Login</button>
        </form>
        
        <p>Don't have an account? <a href="/signup">Sign up</a><br><a href="/home">Home</a></p>
    </div>
</body>
</html>

